{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block content %}
<style>
caption {
  caption-side: top;
  font-weight: bold;
  text-align: center;
  font-size: 1.2rem;
  color: #083617;
}
</style>

<h1 class="text-center mb-4">
  Финансовая модель для закупки подсолничника
</h1>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      {% for sunflower in sunflower_list %}
      <table class="table table-bordered table-striped">
        <caption>Подсолнечник</caption>
        <thead class="table-light">
          <tr>
            <th>Показатели</th>
            <th>Базовое значение, %</th>
            <th>Коэффициент съема, руб/ за 1%</th>
          </tr>
        </thead>
        <tbody>
          <tr><th>Масличность</th><td>{{sunflower.weed_impurity}}</td><td>test2</td></tr>
          <tr><th>Сорность</th><td>{{sunflower.weed_impurity}}</td><td>test2</td></tr>
          <tr><th>Протеин</th><td>{{sunflower.protein}}</td><td>test2</td></tr>
          <tr><th>Масличная примесь</th><td>{{sunflower.oil_impurity}}</td><td>test2</td></tr>
          <tr><th>КЧМ</th><td>{{sunflower.KCHM}}</td><td>test2</td></tr>
          <tr><th>Влажность</th><td>{{sunflower.oil_content}}</td><td>test2</td></tr>
        </tbody>
      </table>
      {% endfor %}
 <a href="{% url 'update_sunflower' %}" class="btn btn-success">Изменить значения для подсолничника</a>
    </div>
    <div class="col-md-6">
      <table class="table table-bordered table-striped">
        <caption>Рапс</caption>
        <thead class="table-light">
          <tr>
            <th>Показатели</th>
            <th>Базовое значение, %</th>
            <th>Коэффициент съема, руб/ за 1%</th>
          </tr>
        </thead>
        <tbody>
          <tr><th>Масличность</th><td>111</td><td>test</td></tr>
          <tr><th>Сорность</th><td>222</td><td>testB</td></tr>
          <tr><th>Протеин</th><td>333</td><td>testC</td></tr>
          <tr><th>Масличная примесь</th><td>444</td><td>testD</td></tr>
          <tr><th>КЧМ</th><td>555</td><td>testE</td></tr>
          <tr><th>Влажность</th><td>test2</td><td>test2</td></tr>
        </tbody>
      </table>
       <a href="{% url 'update_raps' %}" class="btn btn-success">Изменить значения для рапса</a>
    </div>
  </div>

</div>

{% endblock %}