{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block content %}
<style>
caption {
  caption-side: top;
  font-weight: bold;
  text-align: center;
  font-size: 1.2rem;
  color: #083617;
}
</style>

<h1 class="text-center mb-4">
  Финансовая модель для закупки подсолничника
</h1>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      {% if sunflower %}
      <table class="table table-bordered table-striped">
        <caption>Подсолнечник</caption>
        <thead class="table-light">
          <tr>
            <th>Показатели</th>
            <th>Базовое значение, %</th>
            <th>Коэффициент съема, руб/ за 1%</th>
          </tr>
        </thead>
        <tbody>
          <tr><th>Масличность</th><td>{{sunflower.oil_content_base}}</td><td>{{sunflower.oil_content_removal}}</td></tr>
          <tr><th>Сорность</th><td>{{sunflower.weed_impurity_base}}</td><td>{{sunflower.weed_impurity_removal}}</td></tr>
          <tr><th>Протеин</th><td>{{sunflower.protein_base}}</td><td>{{sunflower.protein_removal}}</td></tr>
          <tr><th>Масличная примесь</th><td>{{sunflower.oil_impurity_base}}</td><td>{{sunflower.oil_impurity_removal}}</td></tr>
          <tr><th>КЧМ</th><td>{{sunflower.KCHM_base}}</td><td>{{sunflower.KCHM_removal}}</td></tr>
          <tr><th>Влажность</th><td>{{sunflower.moisture_base}}</td><td>{{sunflower.moisture_removal}}</td></tr>
        </tbody>
      </table>
      {% endif %}
 <a href="{% url 'update_sunflower' %}" class="btn btn-success">Изменить значения для подсолничника</a>
    </div>
    <div class="col-md-6">
      {% if raps %}
      <table class="table table-bordered table-striped">
        <caption>Рапс</caption>
        <thead class="table-light">
          <tr>
            <th>Показатели</th>
            <th>Базовое значение, %</th>
            <th>Коэффициент съема, руб/ за 1%</th>
          </tr>
        </thead>
        <tbody>
          <tr><th>Масличность</th><td>{{raps.oil_content_base}}</td><td>{{raps.oil_content_removal}}</td></tr>
          <tr><th>Сорность</th><td>{{raps.weed_impurity_base}}</td><td>{{raps.weed_impurity_removal}}</td></tr>
          <tr><th>Протеин</th><td>{{raps.protein_base}}</td><td>{{raps.protein_removal}}</td></tr>
          <tr><th>Масличная примесь</th><td>{{raps.oil_impurity_base}}</td><td>{{raps.oil_impurity_removal}}</td></tr>
          <tr><th>КЧМ</th><td>{{raps.KCHM_base}}</td><td>{{raps.KCHM_removal}}</td></tr>
          <tr><th>Влажность</th><td>{{raps.moisture_base}}</td><td>{{raps.moisture_removal}}</td></tr>
        </tbody>
      </table>
       {% endif %}
       <a href="{% url 'update_raps' %}" class="btn btn-success">Изменить значения для рапса</a>
    </div>
  </div>
</div>

<h1 class="text-left mb-4">
  Входные данные по партии
</h1>

{% if batch %}
<div class="container mt-4">
  <div class="card shadow-sm border-success">
    <div class="card-header bg-success text-white text-center fw-bold">

    </div>
    <div class="card-body">
      <table class="table table-bordered align-middle mb-0">
        <caption>Данные по партии</caption>
        <thead class="table-light">
          <tr class="text-center">

          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Закупочная цена, руб/т</th>
            <td class="text-center">{{ batch.purchase_price }}</td>
          </tr>
          <tr>
            <th scope="row">Масса партии, т</th>
            <td class="text-center">{{ batch.weight }}</td>
          </tr>
        <tr>
            <th scope="row">Культура партии</th>
            <td class="text-center">{{ batch.culture }}</td>
          </tr>
        </tbody>
      </table>
       <table class="table table-bordered align-middle mb-0">
        <caption>Качество</caption>
         <thead class="table-light">
         <tr class="text-center">
            <th>Показатель</th>
            <th>Значение, %</th>
          </tr>
         </thead>
         <tbody>
          <tr><th>Масличность</th><td>123</td>
          <tr><th>Сорность</th><td>123</td>
          <tr><th>Протеин</th><td>123</td>
          <tr><th>Масличная примесь</th><td>123</td>
          <tr><th>КЧМ</th><td>123</td>
          <tr><th>Влажность</th><td>{123</td>
         </tbody>
      </table>
    </div>
  </div>
</div>

{% endif %}

{% endblock %}